iframe {
    height: 800px;
    width: 1850px;
}


:root {
    --color1: #348888;
    --color2: #22BABB;
    --color3: #9EF8EE;
    --color4: #FA7F08;
    --color5: #F24405; 
}

body {
    background-color: #348888;
}